@media(min-width: 320px) and (max-width : 578px){
    *{
        margin: 0;
        font-family: Arial, sans-serif;
    }
    body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    }
    
    /*-------- header--------- */
    header{
       
        display: flex;
       
        justify-content: space-between;
        padding: 6px;
        align-items: center;
        
    }
    
    header a{
        margin-right: 20px;
        text-decoration: inherit;
        color: black;
    }
    header a:hover{
        text-decoration: underline;
    }
    .first{
        display: flex;
        
    }
    .navegacion{
        display: flex;
       
        align-items: center;
        min-width: 13vw;
        justify-content: space-between;
        font-size: 13px;
    }
    
    .navegacion .icon_app{
        margin-right: 20px;
    }
    .icon_app:hover{
        border-radius: 100px;
        background-color: #D8D8D8;
    }
    
    /* boton accerder a gmail */
    .btnAcceso{
        width: 120px;
        height: 40px;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        background-color: #0080FF;
        color: #fff;
        margin-right: 0;
        text-align: center;
        line-height: 40px;
    }
    
    .btnAcceso:hover{
        text-decoration: none;
        background-color: #2E9AFE;
    }
    
    /* -----------menu------------ */
    menu{
        display: flex;
        flex-direction: column;
        
        padding: 0;
      
    }
    .logo{
        margin: 0 auto;
        line-height: 100px;
        padding: 5px;
        position: relative;
        top: 50px;
    }
    .search{
        display: flex;
        padding: 30px;
        
     align-items: center;
        flex-direction: column;
    }
    .input{
        display: flex;
    width: 220px;
        border: 1px solid #D8D8D8;
        border-radius: 100px;
        padding: 5px 8px 0px 14px;
       
    }
    .input:hover{
        box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.45);
    }
    .texto{
        border: none;
        width: 150px;
        height:34px;
    }
    .lupa{
        display: flex;
    }
    /* tamaño de imgs */
    .imgLupa{
        width: 20px;
        height: 20px;
        padding: 5px 13px 0px 0px;
        
    }
    .imgMicro{
        width: 24px;
        height: 24px;
        padding: 3px 8px 0px 8px;
    }
    
    /* botones */
    .buttonBuscar{
        display: flex;
        padding: 30px 0px 0px;
        
      
    }
    .busqueda{
        width: 130px;
        height: 36px;
        border: none;
        border-radius: 3px;
        background-color: #F8F9FA;
        margin: 0px 10px 0px 0px;
        font-size: 12px;
    }
    .busqueda:hover{
        border: 1px solid #d7dbdf;
    }
    .microfono{
        width: 130px;
        height: 36px;
        border: none;
        border-radius: 3px;
        background-color: #F8F9FA;
        margin: 0px 0px 10px 0px;
        font-size: 12px;
    }
    .microfono:hover{
        border: 1px solid #d7dbdf;
    }
    
    /* ----------footer-------- */
    footer{
        
        display: flex;
        align-content: flex-end;
        flex-direction: column;
        position: relative;
            width: 100%;
            top: 179px;
            
    }
    
    .pais{
        font-size: 12px;
        padding: 15px 30px;
        background-color: #eef0f3;
       color: #86878b;
       
    }
    .links{
        padding: 15px 20px;
        display: flex;
       flex-direction: column;
        justify-content: space-between;
        background-color: #eef0f3;
        
    }
    
    .parteLeft > a{
      
        font-size: 10px;
        padding: 15px;
       text-decoration: none;
       color: #86878b;
       
    }
    .parteLeft > a:hover{
        text-decoration: underline;
    }
    .parteRight > a{
        font-size: 10px;
        padding: 15px;
        text-decoration: none;
        color: #86878b;
    }
    .parteRight > a:hover{
        text-decoration: underline;
    }
}

